In [1]:
#1. Discuss string slicing and provide examples.
#Answer:
#It is the extraction of a part of a string, list, or tuples.
#It enables users to access the specific range of elements by mentioning their indices
#Syntax: object[start:stop:step]
        #where, start = refers to from where the slicing start
                #stop = refers to end of slicing
                #step = skipping point

#Examples:

In [2]:
string = "I am a Student"
string

'I am a Student'

In [4]:
string[1:5]      #here the string start from index 1 to 4, whereas 5 is excludede

' am '

In [5]:
string[7:14]     #here the string start from index 7 to 13, whereas 14 is excluded

'Student'

In [9]:
string[0:]      #here the string start from index 0 to its end

'I am a Student'

In [10]:
#here is an another string
name = "Shrikant"
name

'Shrikant'

In [13]:
name[0::2]     #here the string start form 0 index to its end with skipping 1 letter.

'Srkn'

In [14]:
name[2:7:1]     #here the string start from index 2 to 6 with doesn't skip any letter

'rikan'

In [15]:
#another string
address = "shivaji nagar, mumbai"
address

'shivaji nagar, mumbai'

In [16]:
address[1:9:3]     #here the string start from 1 index to 8 with skipping 2 letters

'ha '

In [17]:
address[0:8]       #here the string start from 0 index to 7

'shivaji '

In [18]:
#2. Explain the key features of lists in Python.
#Answer:
#Lists are the ordered collection of items
#It store everything.
#Lists contain heterogenous data means it conatins data of different datatypes whether its string, int, float, boolean, etc
#Lists supports Indexing means we can access any item in list using their index.
#Index can br positive or negative.
#One of the main key feature of the list is, Lists are mutable.
#Mutable means we can update the list by adding, removing, and changing the item in list after its creation.
#Lists are made using [] (square braces).
#Here are some examples of lists:

In [19]:
list = [1, 2, True, "Hello", 9.55, "apple"]      #creation of list which contains the heterogeous data
list

[1, 2, True, 'Hello', 9.55, 'apple']

In [21]:
list[0]                 #accessing the item using its index

1

In [22]:
list[4]

9.55

In [24]:
list[-3]               #accessing item using negative index

'Hello'

In [26]:
list[0] = "Mango" #changing the item in the list
list

['Mango', 2, True, 'Hello', 9.55, 'apple']

In [27]:
list[4] = "Bag"
list

['Mango', 2, True, 'Hello', 'Bag', 'apple']

In [29]:
list.append(False)     #adding item to the list
list

['Mango', 2, True, 'Hello', 'Bag', 'apple', False, False]

In [ ]:
#3. Describe how to access, modify, and delete elements in a list with examples.
#Answer:
#Lists are the ordered collection of items.
#Here are some example of accessing, modifying, and deleting elements in a list.

In [30]:
Shopping_list = ["Apples", "Banana", "Mango", "Books", "Grocery"]
Shopping_list

['Apples', 'Banana', 'Mango', 'Books', 'Grocery']

In [31]:
#accessing the elements from the list
Shopping_list[1]

'Banana'

In [33]:
Shopping_list[4]

'Grocery'

In [34]:
Shopping_list[-1]        #accessing using negative index

'Grocery'

In [35]:
Shopping_list[-3]

'Mango'

In [36]:
#modifying the list
Shopping_list[1] = "Gauva"
Shopping_list

['Apples', 'Gauva', 'Mango', 'Books', 'Grocery']

In [37]:
Shopping_list[3] = "Cherry"
Shopping_list

['Apples', 'Gauva', 'Mango', 'Cherry', 'Grocery']

In [38]:
Shopping_list[2] = 2
Shopping_list

['Apples', 'Gauva', 2, 'Cherry', 'Grocery']

In [40]:
Shopping_list

['Apples', 'Gauva', 2, 'Cherry', 'Grocery']

In [51]:
#deleting elements in a list.
Shopping_list = ['Apples', 'Gauva', 'Cherry', 'Grocery']
Shopping_list

['Apples', 'Gauva', 'Cherry', 'Grocery']

In [52]:
Shopping_list.remove("Apples")    #remove the specific item in list by name
Shopping_list

['Gauva', 'Cherry', 'Grocery']

In [53]:
Shopping_list.pop()            #by default remove the last item in list
Shopping_list

['Gauva', 'Cherry']

In [54]:
Shopping_list.pop(1)           #remove the specific item by index
Shopping_list

['Gauva']

In [56]:
Shopping_list.clear()         #clear the item in the list and returns empty list
Shopping_list

[]

In [57]:
#4. Compare and contrast tuples and lists with examples.
#Answer:
#i) Lists: #Lists are the ordered collection of items.
           #It store everything.
           #Lists contain heterogenous data means it conatins data of different datatypes whether its string, int, float, boolean, etc
           #Lists supports Indexing means we can access any item in list using their index.
           #Index can br positive or negative.
           #One of the main key feature of the list is, Lists are mutable.
           #Mutable means we can update the list by adding, removing, and changing the item in list after its creation.
           #Lists are made using [] (square braces).
            
#ii) Tuples: #Tuples are the ordered collection of items.
             #Like lists, Its also stores everything.
             #Like Lists, its also contains heterogenous data means it can contains the data of different datatypes.
             #It also supports indexing means can access elements using its index.
             #Index can be positive or negative.
             #But there is one difference between the list and tuple i.e. lists are mutable whereas Tuples are immutable.
             #Immuatable means we cannot modify the tuple once it is created.
             #Tuples are made using () (Simple braces).
            
#Here, are some example of lists and tuples:

In [59]:
#Examples of lists:
List = [ 1 ,2, 3, True, "money", "time", 8.65]      #creating of list
List

[1, 2, 3, True, 'money', 'time', 8.65]

In [60]:
List[3]      #accessing element from list

True

In [61]:
List[-2]    #accessing element using negative index

'time'

In [63]:
List[1] = "cars"    #modifying the list
List

[1, 'cars', 3, True, 'money', 'time', 8.65]

In [65]:
#Examples of Tuples:
Tuple = (1, 3, 5, "fruits", "vegetables", 9.432)       #creation of tuple
Tuple

(1, 3, 5, 'fruits', 'vegetables', 9.432)

In [66]:
Tuple[3]           #accessing element using index from tuple

'fruits'

In [67]:
Tuple[-1]         #accessing element using negative index

9.432

In [68]:
Tuple[3] = "hello"    #we cannot modify the tuple >>> because they are immutable

TypeError: 'tuple' object does not support item assignment

In [69]:
#5. Describe the key features of sets and provide examples of their use.
#Answer:
#Sets are unordered collection of unique items.
#Sets doesn't allow duplicate elements.
#Sets are unordered that's why indexing will not work here.
#Sets inside set must be immuatble.
#Sets doesn't support the slicing.
#Sets are created using the {} (curly braces).

#Here are some example of their uses:

In [83]:
my_set = { 1, 1, 3, 4, 2, 4, 5, 4}         #creating set >> it removes duplicatesmy
my_set

{1, 2, 3, 4, 5}

In [73]:
type(my_set)

set

In [81]:
my_set.add("hello")           #adding element in set
my_set

{1, 2, 3, 4, 5, 'hello'}

In [82]:
my_set.remove("hello")     #remove element from set
my_set

{1, 2, 3, 4, 5}

In [85]:
my_set.update("world")       #updating set
my_set

{1, 2, 3, 4, 5, 'd', 'l', 'o', 'r', 'w'}

In [87]:
my_set.clear()      #clear the set and returns the empty set
my_set

set()

In [3]:
# Example of set opeartions
s1 = {1, 3, 2, 4, 5, 2, 6, 7, 6, 7, 5}
s1

{1, 2, 3, 4, 5, 6, 7}

In [4]:
s2 = {3, 5, 6, 2, 7, 0, 9, 8, 10, 12, 1}
s2

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 12}

In [5]:
#Union of sets >> returns the overall elements of both sets except duplicates
s1 | s2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

In [6]:
#Intersection of sets >> returns only common elements
s1 & s2

{1, 2, 3, 5, 6, 7}

In [8]:
#Difference of sets >> returns the elements that is present in first set not in second. 
s1 - s2

{4}

In [94]:
#Symmetric Difference of sets >> returns the elements that are present in either of sets but not in both.
s1 ^ s2

{0, 4, 8, 9, 10, 12}

In [9]:
#6. Discuss the use cases of tuples and sets in Python programming.
#Answer:
#i) Tuples: #Tuples are the ordered collection of items.
             #Like lists, Its also stores everything.
             #Like Lists, its also contains heterogenous data means it can contains the data of different datatypes.
             #It also supports indexing means can access elements using its index.
             #Index can be positive or negative.
             #But there is one difference between the list and tuple i.e. lists are mutable whereas Tuples are immutable.
             #Immuatable means we cannot modify the tuple once it is created.
             #Tuples are made using () (Simple braces).
            
#ii) Sets:  #Sets are unordered collection of unique items.
            #Sets doesn't allow duplicate elements.
            #Sets are unordered that's why indexing will not work here.
            #Sets inside set must be immuatble.
            #Sets doesn't support the slicing.
            #Sets are created using the {} (curly braces).
            
#Here an use cases of tuples and sets:

In [32]:
#Use cases of tuples:

city1 = ("Mumbai", 45, "sunny")
city2 = ("Delhi" , 30, "cold")
print(city1, city2)

('Mumbai', 45, 'sunny') ('Delhi', 30, 'cold')

In [33]:
city1

('Mumbai', 45, 'sunny')

In [34]:
city2

('Delhi', 30, 'cold')

In [35]:
city1.add("rainy")
city1

AttributeError: 'tuple' object has no attribute 'add'

In [ ]:
#we cannot add elements in tuples once its created.

In [28]:
#Use cases of sets:

cart = {"shirts", "jeans", "jacket", "shirts", "bags", "jeans"}     #sets remove duplicates
cart

{'bags', 'jacket', 'jeans', 'shirts'}

In [29]:
cart.add("shoes")      #sets allow to adding items

In [30]:
cart

{'bags', 'jacket', 'jeans', 'shirts', 'shoes'}

In [31]:
cart.remove("bags")      #sets allow to remove items
cart

{'jacket', 'jeans', 'shirts', 'shoes'}

In [36]:
#7. Describe how to add, modify, and delete items in a dictionary with examples.
#Answer:
#It is the datastrcture that stores data as key-value pairs.
#Keys are always unique and immutable.
#It is ordered.
#we can access elements using the key.
#The representation of dictionary is >> dict = {key : value}
#Some rules of defining keys are: we can use integers, string, float, boolean value, tuple, as a key but we cannot use list, set, dictionary and special character as a key.

#Here some of example of dictionary:

In [50]:
my_dict = { "fruit1" : "apple",              #creation of dictionary
           "fruit2" : "mango",
           "fruit3" : "watermelon",
           "fruit4" : "gauva" }
my_dict

{'fruit1': 'apple',
 'fruit2': 'mango',
 'fruit3': 'watermelon',
 'fruit4': 'gauva'}

In [51]:
my_dict["fruit4"] = "banana"               #adding elements in dictionary
my_dict

{'fruit1': 'apple',
 'fruit2': 'mango',
 'fruit3': 'watermelon',
 'fruit4': 'banana'}

In [52]:
my_dict["fruit5"] = "custardapple"
my_dict

{'fruit1': 'apple',
 'fruit2': 'mango',
 'fruit3': 'watermelon',
 'fruit4': 'banana',
 'fruit5': 'custardapple'}

In [53]:
my_dict.pop("fruit5")                        #modifying the dictionary by removing one element
my_dict

{'fruit1': 'apple',
 'fruit2': 'mango',
 'fruit3': 'watermelon',
 'fruit4': 'banana'}

In [54]:
del my_dict["fruit4"]                      #deleting the element 
my_dict

{'fruit1': 'apple', 'fruit2': 'mango', 'fruit3': 'watermelon'}

In [56]:
#8. Discuss the importance of dictionary keys being immutable and provide examples.
#Answer:
#Immutable data types such as strings, numbers, and tuples (if they contain only immutable elements) can be used as keys in a dictionary. 
#Mutable data types like lists cannot be used as keys because they can be changed after being created, which could lead to unexpected behavior when using a dictionary. 
#In summary, the part of a dictionary element that must be immutable is the key
#Key-value pairs are the cornerstone of Python dictionaries. 
#Think of them as unique address labels ('key') tied to specific content ('value'). 
#This design allows for quick retrieval of information; by providing the correct key, Python can pull out the associated value instantly.

#examples are:

In [58]:
contact_details = {"ram" : 264774918,
                   "priya" : 638723183,       
                   "raj" : 735925381,
                   "nita" : 3647903833 }
contact_details

{'ram': 264774918, 'priya': 638723183, 'raj': 735925381, 'nita': 3647903833}

In [ ]:
#keys must be immune to changes to preserve the integrity of this pairing system. 
#Meanwhile, values can flow and change like a river-they are mutable. 
#This contrast is crucial, allowing Python to maintain a stable system of addresses (keys) while the content at those addresses (values) can be updated as needed.

In [61]:
contact_details["nita"] = 8373628282          #here you can change or modify the value of respected key

In [60]:
contact_details

{'ram': 264774918, 'priya': 638723183, 'raj': 735925381, 'nita': 8373628282}

In [ ]:
#but cannot modify the key respectively.